<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="https://halivert.dev/emit-events-pv/assets/favicon.17e50649.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Petite vue, emit test</title>
		<link rel="stylesheet" href="https://unpkg.com/halivert.css" />
		<script type="module" crossorigin src="https://halivert.dev/emit-events-pv/assets/index.85ba2102.js"></script>
		<link rel="modulepreload" href="https://halivert.dev/emit-events-pv/assets/vendor.ef53a686.js">
	</head>
	<body>
		<main id="app">
			<template id="parent-template">
				<h1>{{ name }}</h1>

				<article v-for="child in children" v-scope="Child(child)"></article>

				<hr />

				<section>
					<h2>Events</h2>

					<ul>
						<li v-for="event in events">{{ event }}</li>
					</ul>

					<br />

					<button @click="clearEvents">Clear events</button>
				</section>
			</template>

			<template id="child-template">
				<h5>{{ name }}</h5>

				<input type="text" v-model="value" />

				<button @click="onClick">Press me!</button>
			</template>

			<section v-scope="Parent()" @child-update="handleUpdate"></section>
		</main>
		
	</body>
</html>
